.page1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('newcoin.jpg'); 
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

button[name="start"] {
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 8px;
  transition: transform 0.2s, background-color 0.2s;
}

button[name="start"]:hover {
  background-color: #ce8c1a;
  transform: scale(1.5);
}

.heading {
  color: #000000;          
  font-size: 1.8em;           
  text-align: center;         
  text-transform: uppercase;  
  margin: 0.3em 0;            
  font-weight: bold;          
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* page2 styling */

body.page2 {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #483e3e;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.top-image {
  width: 60%;
  max-width: 450px;
  height: auto;
  border-radius: 8px;
}

.banner {
  background-color: #444;
  padding: 20px 15px;
  width: 700px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.5);
  animation: popUp 0.5s ease forwards;
  opacity: 0;
  transform: scale(0.8);
  margin-top: 100px;
}

@keyframes popUp {
  to {
      opacity: 1;
      transform: scale(1);
  }
}

.banner .heading h1, .banner .heading h3 {
  margin: 0 0 15px;
  font-size: 1.2em;
  color: #ffffff;
  letter-spacing: 1px;
}

.input_group {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 15px 0;
}

#head_button, #tail_button {
  padding: 10px 20px;
  font-size: 0.9em;
  border: none;
  border-radius: 6px;
  color: #ffffff;
  background-color: #333;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

#head_button:hover {
  background-color: green;
}

#tail_button:hover {
  background-color: red;
}

#head_button:active, #tail_button:active {
  background-color: #111;
  transform: scale(0.95);
}

/* Styling for the coin and flipping animation */

.coin {
  top: 25px;
  width: 250px;
  height: 250px;
  background-image: url('head.png'); /* Front side image */
  background-size: cover;
  border-radius: 50%;
  transition: transform 0.5s ease;
}
.coin.tails {
  width: 220px;
  height: 220px;
  top: 75px;
  background-image: url('tail.png'); /* Back side image */
}
/* Flipping animation */
.coin.flipping {
  animation: flip 2s infinite;
}

@keyframes flip {
  0% {
      transform: rotateY(0deg);
  }
  20% {
      transform: rotateY(360deg);
  }
  40% {
      transform: rotateY(1440deg);
  }
  60% {
      transform: rotateY(2160deg);
  }
  80% {
      transform: rotateY(1440deg);
  }
  100% {
      transform: rotateY(360deg);
  }
}

/* Result display and popup styling */

/* Styling for the result heading */
#resultHeading {
  font-weight: bold;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;

}

.point {
  margin-top: 15px;
  color: #ffffff;
}
.point p {
  font-size: 1em;
}
.popup {
  background-color: #444;
  padding: 20px 15px;
  width: 700px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
  animation: popUp 0.5s ease forwards;
  opacity: 0;
  transform: scale(0.8);
  margin-top: 15px;
}

.popup button {
  margin-top: 8px;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup button:hover {
  background-color: #ea3434;
}
